@use "../../variables" as *;

.contentContainer {
  padding-bottom: 18rem;
  display: flex;
  gap: 8rem;
}

//Digits
.digits {
  margin: 0 auto;
  padding: 10rem 0 6.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
}

.digitsItem {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.digitImg {
  width: 8rem;
}

.info {
  display: flex;
  flex-direction: column;
}

.digit {
  @include title(3.2rem);
}

.description {
  font-size: 2rem;
  line-height: 150%;
}

//blocks
.dinamicBlocks {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

//Rich Text
.boldText {
  @include subtitle(2rem);
}

.simpleText {
  color: $colorGrey;
}

//Gallery
.gallery {
  padding: 5.6rem 0;
}

.galleryImg {
  width: 100%;
}

//List
.listBlock {
  padding: 2rem 0;
}

.listTitle {
  @include title(3.2rem);
  margin-bottom: 2.4rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.listItem {
  padding-left: 3.2rem;
  background-image: url("./image/casestudies/list-item-mark.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 1.6rem;
}

//dopInfo
.dopContent {
  padding-top: 10rem;
  max-width: 39rem;
}

.dopBlockInfo {
  margin-bottom: 4.8rem;
  padding: 4rem 3.2rem;
  font-size: 1.4rem;
  color: $colorGrey;
  background-color: $bgWhiteGrey;
}

.dopBlockTitle {
  @include subtitle(2.4rem);
  margin-bottom: 1.2rem;
}

.dopBlockText {
  margin-bottom: 2.4rem;
}

.dopBlockTags {
  margin-bottom: 4.8rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.tag {
  @include subtitle(1.4rem);
  padding: 0.55rem 1.6rem;
  border: 0.1rem solid $borderColorRadios;
  border-radius: 0.4rem;
  transition: all 0.5s ease;
  cursor: not-allowed;
}

.dopBlockSocial {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.socialTitle {
  @include subtitle(2rem);
}

.socialImg {
  padding: 0.1rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease;
  &:hover {
    box-shadow: 0 0 1rem $bgInputColor;
  }
}

@media (max-width: 1024px) {
  .contentContainer {
    flex-direction: column;
    gap: 4rem;
  }
  .dopContent {
    padding-top: 0;
    max-width: 100%;
  }
  .dopBlock {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .dopBlockInfo {
    width: 100%;
  }
  .dopBlockTags {
    margin-bottom: 0;
  }
  .dinamicBlocks {
    padding-bottom: 0;
  }
}

@media (max-width: 768px) {
  .digitImg {
    width: 6rem;
  }
  .digit {
    @include title(2.8rem);
  }
  .description {
    font-size: 1.8rem;
  }
}

@media (max-width: 600px) {
  .contentContainer {
    padding-bottom: 10rem;
  }
  .digits {
    align-items: flex-end;
  }
  .digitsItem {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .dopBlock {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }
  .dopBlockInfo {
    margin-bottom: 0;
  }
}

@media (max-width: 480px) {
  .digits {
    flex-direction: column;
    align-items: center;
  }
  .digitsItem {
    flex-direction: row;
  }
  .tag {
      @include subtitle(1.2rem);
        padding: 0.55rem;
  }
}
