@use "../../variables" as *;

.label {
  position: absolute;
  bottom: -12.1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 80.5rem;
  padding: 4.8rem 6rem;
  background-color: $colorWhite;
  border-radius: 0.4rem;
  box-shadow: 0 1.2rem 1rem #9a9ca50a;
  z-index: 2;
}

.title {
  @include title(3.2rem);
  margin-bottom: 2.4rem;
}

.text {
  color: $colorMiddleGrey;
}

@media (max-width: 1024px) {
  .label {
    width: 65rem;
    padding: 3rem;
  }
  .title {
    @include title(2.8rem);
    margin-bottom: 1.6rem;
  }
}

@media (max-width: 768px) {
  .label {
    width: 52rem;
    padding: 2rem;
  }
  .title {
    @include title(2.4rem);
    margin-bottom: 1.4rem;
  }
}

@media (max-width: 600px) {
    .label {
      width: 100%;
       position: static;
       padding: 2rem 0;
       transform: translateX(0);
    }
}
