@use "../../variables" as *;

.button {
  @include button;
}

.headerButton {
  width: 19.9rem;
  cursor: not-allowed;
  &:hover {
    background-color: $colorBlue;
  }
}


.agencyButton {
  width: 16.1rem;
  &:hover {
    color: $colorBlue;
  }
}

.ourServicesButtonWhite {
  width: 13.9rem;
  height: 4.4rem;
  background-color: $colorWhite;
  color: $colorBlue;
  border: 0.1rem solid $colorBlue;
  &:hover {
    background-color: $colorBlue;
    color: $colorWhite;
  }
}

.ourServicesButtonBlue {
  width: 16.5rem;
  height: 4.4rem;
  cursor: not-allowed;
  &:hover {
    background-color: $colorBlue;
  }
}

.askQuestionsButton {
  width: 18.4rem;
  cursor: not-allowed;
  &:hover {
    background-color: $colorBlue;
  }
}

.clientsButton {
  width: 23.7rem;
  &:hover {
    color: $colorBlue;
  }
}

.pricingButton {
  width: 14.6rem;
  &:hover {
    color: $colorBlue;
  }
}

.pricingOptimalButton {
  width: 14.6rem;
 &:hover {
  border-color: $colorWhite;
 }
}

.homeNewsButton {
  width: 18rem;
  &:hover {
    color: $colorBlue;
  }
}

.servicesHeroBtn {
  width: 15.4rem;
  background-color: transparent;
  border: 0.1rem solid $colorWhite;
  cursor: not-allowed;
}

.serviceBlockBtnWhite {
  width: 13.9rem;
  background-color: $colorWhite;
  border: 0.1rem solid $colorBlue;
  color: $colorBlue;
  transition: all 0.5s ease;
  &:hover {
    background-color: $colorBlue;
    color: $colorWhite;
  }
}

.serviceBlockBtn {
  position: relative;
  width: 16.5rem;
 
  &:hover {
    background-color: $colorBlue;
    transform: none;
    cursor: not-allowed;

    &::after {
      display: inline-block;
    }
  }
}

.aboutFormBtn {
  background-color: $colorBlack;
  width: 17.8rem;
  font-size: 1.4rem;
  height: auto;
  cursor: not-allowed;
  &:hover {
    background-color: $colorBlack;
  }
}

.careersBtn {
  width: 19.9rem;
  &:hover {
    color: $colorBlue;
  }
}

@media (max-width: 1024px) {
  .headerButton {
    width: 14rem;
  }
}

@media (max-width: 768px) {
  .headerButton {
    margin-right: 5rem;
  }
}

@media (max-width: 375px) {
  .headerButton {
    display: none;
  }
  .heroButton {
    width: 18rem;
  }
}
