@use "../../variables" as *;

.button {
  height: 5.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.4rem;
  line-height: 325%;
  font-weight: 700;
  letter-spacing: 0.05rem;
  background-color: $colorBlue;
  color: $colorWhite;
  transition: all 0.5s ease;
  &:hover {
    transform: scale(1.05);
  }
}

.headerButton {
    width: 19.9rem;
}

.heroButton {
  width: 21.9rem;
  background-color: transparent;
  border: 0.1rem solid $colorWhite;
  &:hover {
    background-color: $colorBlue;
    transform: none;
  }
}

.agencyButton {
    width: 16.1rem;
}

@media (max-width: 1024px) {
  .headerButton {
    width: 14rem;
  }
}

@media (max-width: 768px) {
  .headerButton {
    margin-right: 5rem;
  }
}

@media (max-width: 375px) {
  .headerButton {
    display: none;
  }
}