.sliderContainer {
    position: relative;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    max-width: 96%;
}

.decor {
    position: absolute;
    z-index: -1;
    right: 50%;
    top: -6rem;
    transform: translateX(50%);
    filter: blur(0.2rem);
    max-width: 80%;
}

@media (max-width: 1024px) {
    .decor {
        top: -3rem;
    }
}

@media (max-width: 768px) {
    .decor {
        top: -1.5rem;
    }
}

@media (max-width: 600px) {
    .slider {
        max-width: 94%;
    }
}

@media (max-width: 375px) {
    .slider {
        max-width: 100%;
    }
}