.sliderContainer {
    position: relative;
    margin: 0 auto;
}

.decor {
    position: absolute;
    z-index: -1;
    right: 50%;
    top: -6rem;
    transform: translateX(50%);
    filter: blur(0.2rem);
    max-width: 80%;
}

@media (max-width: 1024px) {
    .decor {
        top: -3rem;
    }
}

@media (max-width: 768px) {
    .decor {
        top: -1.5rem;
    }
}