.swiper-button-prev {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  bottom: 50%;
  left: 0;
  transform: translateY(-50%);
  background: url("./image/home/slider-arrow-left.svg");
  background-size: cover;
  z-index: 5;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s ease;
  &:hover {
    background-color: #bebce4;
  }
}

.swiper-button-next {
  transform: rotate(180deg);
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  bottom: 50%;
  right: 0;
  transform: translateY(-50%);
  transform: rotate(180deg);
  background: url("./image/home/slider-arrow-left.svg");
  background-size: cover;
  z-index: 5;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s ease;
  &:hover {
    background-color: #bebce4;
  }
}

.swiper-button-disabled {
  opacity: 0.3;
}

@media (max-width: 374px) {
  .swiper-button-prev {
    bottom: 0;
  }
  .swiper-button-next {
    bottom: 0;
  }
}
