@use "../../variables" as *;

.sliderItem,
.sliderItemFon {
    min-height: 39rem;
    padding: 4rem;
    border: 0.1rem solid $borderColorGrey;
    box-shadow: 0 0.4rem 0.4rem $boxShadowColorSliderItem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sliderItem {
    background-color: $colorWhite;
    color: $colorBlack;
}

.sliderItemFon {
    background: #00000080 url("./image/home/clients-case-fon.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: $colorWhite;
}

.up {
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.8rem;
    border-bottom: 0.1rem solid $borderColorGrey;
}

.title {
    font-size: 1.4rem;
}

.text {
   padding-top: 2rem;
   color: $colorMiddleGrey;
}

.info {
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

@media (max-width: 1236px) {
 .sliderItem,
 .sliderItemFon {
    padding: 2rem 1rem;
 }

 .info {
    gap: 2rem;
 }
}

@media (max-width: 1023px) {
    .text {
        font-size: 1.4rem;
    }
    .info {
        justify-content: space-between;
    }

}