@use "../../variables" as *;

.slider {
    margin-bottom: 6rem;
    position: relative;
    z-index: 1;
    min-height: 3.9rem;
}

.buttonsNavigation {
    position: absolute;
    top: -5.8rem;
    right: 0;
    z-index: 20;
    display: flex;
}
