@use "../../variables" as *;

.sliderItem {
    min-height: 39rem;
    padding: 4rem;
    background-color: $colorWhite;
    color: $colorBlack;
    border: 0.1rem solid $borderColorGrey;
    box-shadow: 0 0.4rem 0.4rem $boxShadowColorSliderItem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.up {
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.8rem;
    border-bottom: 0.1rem solid $borderColorGrey;
}

.title {
    font-size: 1.4rem;
}

.text {
   padding-top: 2rem;
   color: $colorMiddleGrey;
}

.info {
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

.infoItem {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.infoImg {
    max-width: 4rem;
}

.infoText {
    display: flex;
    flex-direction: column;
}

.digit {
    @include subtitle(2rem);
}

.description {
    font-size: 1.2rem;
}

@media (max-width: 1236px) {
 .sliderItem {
    padding: 2rem 1rem;
 }

 .info {
    gap: 2rem;
 }
}

@media (max-width: 1024px) {
    .sliderItem {
        padding: 1rem;
    }
    .text {
        font-size: 1.4rem;
    }
    .info {
        justify-content: space-between;
    }
    .infoItem {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;
    }
}