@use "../../variables" as *;

.ourServices {
    padding: 9rem 0 18rem;
    overflow: hidden;
}

.title {
    @include sectionTitle;
}

.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

@media (max-width: 1024px) {
    .ourServices {
        padding: 4rem 0 7rem;
    }
    .items {
        flex-direction: column;
        gap: 4rem;
    }
}