@use "../../../variables" as *;

.info {
    padding: 5rem 0 9rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem;
}

.infoImg {
   flex: 0 1 70.5rem;
   img {
    width: 100%;
   }
}

.infoContent {
    flex: 0 1 39rem;
}

.infoTitle {
    @include sectionTitle;
    text-align: left;
}

.infoText {
    color: $colorMiddleGrey;
}

@media (max-width: 1024px) {
    .info {
        padding: 4rem 0;
        flex-direction: column-reverse;
        gap: 5rem;
    }
    .infoContent {
        flex: 0 1 auto;
    }
    .infoImg {
        flex: 0 1 auto;
        align-self: center;
    }
    .infoTitle {
        margin-bottom: 3rem;
        text-align: center;
    }
}

@media (max-width: 376px) {
    .info {
        padding: 3rem 0;
    }
}