@use "../../variables" as *;

.hero {
    position: relative;
    height: 100.8rem;
    padding: 20rem 0 8rem;
    background-color: $colorBlack;
}

.decor {
    position: absolute;
    left: 0;
    bottom: 0;
}