@use "../../variables" as *;

.hero {
  position: relative;
  min-height: 100.8rem;
  padding: 20rem 0 8rem;
  background-color: $colorBlack;
}

.decor {
  position: absolute;
  left: 0;
  bottom: 0;
}

@media (max-width: 1024px) {
  .hero {
    padding: 10rem 0 4rem;
     min-height: 82rem;
  }
  .decor {
    max-width: 35rem;
  }
}

@media (max-width: 768px) {
  .hero {
    min-height: 70rem;
  }
}

@media (max-width: 480px) {
 
}

@media (max-width: 375px) {
    .hero {    
        padding: 8rem 0 6rem;
    }
    .decor {
      max-width: 28rem;
    }
}
