@use "../../../variables" as *;

.hero {
  padding: 15.2rem 0 12rem;
  text-align: center;
  background-color: $colorBlack;
}

.info {
	margin-top: 5rem;
	display: flex;
	justify-content: center;
	gap: 1rem;
	font-size: 2rem;
	color: $colorWhite;
}

.category {
	padding-right: 1rem;
	font-weight: 700;
	border-right: 0.1rem solid $borderColorGrey;
}

.date {
	padding-right: 1rem;
	border-right: 0.1rem solid $borderColorGrey;
}