@use "../../../variables" as *;

.hero {
  @include heroPages;
  background-image: url("./image/heropages/hero-decor-dots-right.png");
  background-position: right;
  background-size: auto 100%;
}

.info {
	margin-top: 5rem;
	display: flex;
	justify-content: center;
	gap: 1rem;
	font-size: 2rem;
	color: $colorWhite;
}

.category {
	padding-right: 1rem;
	font-weight: 700;
	border-right: 0.1rem solid $borderColorGrey;
}

.date {
	padding-right: 1rem;
	border-right: 0.1rem solid $borderColorGrey;
}

@media (max-width: 480px) {
	.info {
		flex-wrap: wrap;
	}
	.date {
		border-right: none;
	}
}