@use "../../variables" as *;

.awards {
    margin-bottom: 12rem;
}

.items {
    display: flex;
    align-items: center;
    gap: 10rem;
}

.itemimg {
    max-width: 28.5rem;
    img {
        width: 100%;
    }
}

.title {
    @include sectionTitle;
}

@media (max-width: 870px) {
    .itemimg {
        display: none;
    }
    .items {
        justify-content: center;
    }
}