@use "../../variables" as *;

.item {
    padding: 4rem 4.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border: 0.1rem solid $borderColorGrey;
    border-radius: 0.4rem;
    background-color: $colorWhite;
}

.image {
    margin-bottom: 1.6rem;
    max-width: 4rem;
}

.title {
    @include subtitle(2rem);
    margin-bottom: 0.8rem;
}

.text {
    font-size: 1.4rem;
    color: $colorMiddleGrey;
}

@media (max-width: 1260px) {
    .item {
        padding: 2rem 1rem;
    }
}


@media (max-width: 1024px) {
    .item {
        padding: 1rem;
    }
    .image {
        max-width: 3rem;
    }
    .title {
         @include subtitle(1.6rem);
    }
}

