@use "../../variables" as *;

.buttons {
    margin: 0 auto 6rem;
    width: 39rem;
    height: 4.6rem;
    display: flex;
}

.monthButton,
.yearButton {
    @include subtitle(1.6rem);
    width: 21rem;
    border-radius: 4rem;
    border: 0.1rem solid $colorBlue;
}



.yearButton {
    background-color: transparent;
    color: $colorBlue;
    transform: translateX(-4rem);
    span {
        font-size: 1.2rem;
        font-weight: 400;
        opacity: 0.6;
    }
}