@use "../../variables" as *;

.hero {
  @include heroPages;
}

.decorShapesUp {
  @include heroPagesDecor(top, 0, left, 0);
}

.decorLittleLinesLeft {
  @include heroPagesDecor(bottom, 13.2rem, left, 25.6rem);
}

.decorLinesUp {
  @include heroPagesDecor(top, 0, right, 28rem);
}

.decorManyShapesDown {
  @include heroPagesDecor(bottom, 0, right, 0);
}

.decorLittleLinesRight {
  @include heroPagesDecor(top, 13.4rem, right, 9.1rem);
}

.info {
  display: flex;
  align-items: center;
  gap: 4rem;
}

@media (max-width: 1260px) {
  .decorShapesUp {
    max-width: 15rem;
  }
  .decorLinesUp {
    max-width: 30rem;
  }
  .decorManyShapesDown {
    max-width: 25rem;
  }
  .decorLittleLinesLeft {
    max-width: 10rem;
    left: 22rem;
  }
}

@media (max-width: 1024px) {
  .decorLittleLinesLeft {
    left: 7rem;
  }
}

@media (max-width: 768px) {
  .decorLinesUp {
    right: 10rem;
  }
  .decorLittleLinesLeft {
    left: 0;
  }
}

@media (max-width: 600px) {
  .decorLittleLinesLeft {
    max-width: 8rem;
    bottom: 5rem;
    left: 1rem;
  }
  .decorLittleLinesRight {
    max-width: 8rem;
    right: 2rem;
  }
}

@media (max-width: 480px) {
  .decorShapesUp {
    max-width: 12rem;
  }
  .decorLinesUp {
    max-width: 25rem;
    right: 5rem;
  }
}

@media (max-width: 375px) {
  .decorShapesUp {
    max-width: 10rem;
  }
  .decorLinesUp {
    right: 1.5rem;
  }
  .decorLittleLinesRight,
  .decorLittleLinesLeft {
    max-width: 6rem;
  }
  .decorLittleLinesRight {
    top: 12rem;
  }
  .decorManyShapesDown {
    max-width: 20rem;
  }
  .info {
    flex-direction: column;
  }
}
