@use "../../variables" as *;

.clients {
    padding: 12rem 0;
}

.title {
    @include sectionTitle;
    margin-bottom: 0;
}

@media (max-width: 480px) {
    .clients {
        margin-bottom: 6rem;
    }
}