@use "../../variables" as *;

.markets {
    padding: 18rem 0 12rem;
}

.title {
    @include sectionTitle;
}

.items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 4rem;
}

@media (max-width: 1024px) {
    .markets {
        padding: 10rem 0;
    }
}

@media (max-width: 810px) {
    .items {
         grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 400px) {
      .markets {
        padding: 7rem 0;
    }
        .items {
         grid-template-columns: 1fr;
    }
}