.imgBlock {
  position: relative;
  width: 50%;
}

.mainImg {
  width: 100%;
}

.marketing {
  background-image: url("./image/services/marketing-fon.png");
    background-repeat: no-repeat;
  background-size: contain;
}

.optimization {
  background-image: url("./image/services/optimization-fon.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.research {
  background-image: url("./image/services/research-fon.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.content {
  background-image: url("./image/services/content-fon.png");
  background-repeat: no-repeat;
  background-size: contain;
}


@media (max-width: 1024px) {
  .imgBlock {
    width: 100%;
  }
  .marketing {
    position: relative;
    width: 100%;
  }
}