@use "../../variables" as *;

.post {
  padding-bottom: 2rem;
  display: grid;
  grid-row: span 5; /* Занимает 3 строки родителя */
  grid-template-rows: subgrid;
  gap: 2rem;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 12px $borderColorGrey;
}

.newPost {
  grid-row: span 4;
}

.image {
  width: 100%;
  height: 36rem;
  object-fit: cover;
  object-position: center;
}



.info {
  padding: 0 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 1rem;
  font-size: 1.4rem;
  color: $colorMiddleGrey;
}

.date,
.autor {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  white-space: nowrap;
}

.date {
  padding: 0 1rem;
  border-left: 0.1rem solid $colorMiddleGrey;
  border-right: 0.1rem solid $colorMiddleGrey;
}

.title {
  @include subtitle(2rem);
   padding: 0 1rem;
}

.text {
   padding: 0 1rem;
  color: $colorGrey;
}

.link {
  @include subtitle(1.6rem);
   padding: 0 1rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  transition: all 0.5s ease;
  span {
    font-size: 1.8rem;
  }
  &:hover {
    color: $colorBlue;
  }
}

@media (max-width: 375px) {
  .image {
    height: 28rem;
  }
}