@use "../../variables" as *;

.header {
    padding: 2rem 0;
    background-color: $colorBlack;
}

.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 6rem;
}

@media (max-width: 1024px) {
    .navigation {
        gap: 4rem;
    }
}

@media (max-width: 768px) {
    
}