@use "../../variables" as *;

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 0;
    background-color: transparent;
    z-index: 15;
}

.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

}

.navigation {
    display: flex;
    align-items: center;
    gap: 6rem;
}

@media (max-width: 1024px) {
    .navigation {
        gap: 4rem;
    }
}

