.imageBlock {
  width: 90rem;
  height: 92rem;
  position: absolute;
  top: 11.34rem;
  right: 0;
  background-image: url("../../../image/home/hero-shape.png");
  background-size: cover;
}

.mainImg {
  position: absolute;
  bottom: 20rem;
  right: 10rem;
  z-index: 2;
}

.clips {
  position: absolute;
  top: 0;
  right: 0;
}

.decor {
  position: absolute;
  bottom: 38%;
  left: 0;
  z-index: 2;
}

@media (max-width: 1280px) {
  .imageBlock {
    width: 80rem;
  }
  .mainImg {
    max-width: 50rem;
    right: 10rem;
    top: 15rem;
  }
}

@media (max-width: 1180px) {
  .imageBlock {
    width: 75rem;
  }
  .mainImg {
    top: 20rem;
    right: 4rem;
  }
  .clips {
    max-width: 14rem;
  }
}

@media (max-width: 1024px) {
  .imageBlock {
    top: 14rem;
    width: 70rem;
    height: 82rem;
  }
  .mainImg {
    top: 16rem;
    right: 2rem;
  }
  .clips {
    max-width: 12rem;
  }
}

@media (max-width: 768px) {
  .imageBlock {
    top: 22rem;
    width: 48rem;
    height: 65rem;
  }
  .mainImg {
    top: 18rem;
    max-width: 38rem;
  }
  .clips {
    max-width: 9rem;
    top: -7rem;
  }
  .decor {
    bottom: 22rem;
    left: 2rem;
  }
}

@media (max-width: 600px) {
  .mainImg {
    top: 13rem;
  }
}

@media (max-width: 480px) {
  .imageBlock {
    top: 24rem;
  }
  .mainImg {
    max-width: 35rem;
    top: 13rem;
    right: 1rem;
  }
  .clips {
    max-width: 7rem;
    top: 0;
  }
  .decor {
    display: none;
  }
}

@media (max-width: 375px) {
  .imageBlock {
    top: 26rem;
    width: 37rem;
    height: 55rem;
  }
  .mainImg {
    top: 14rem;
    max-width: 30rem;
  }
  .clips {
    top: 0;
  }
}

@media (max-width: 320px) {
    .imageBlock {
    top: 30rem;
    width: 29rem;
    height: 45rem;
  }
  .mainImg {
    top: 10rem;
    max-width: 25rem;
  }
  .clips {
    top: -1rem;
  }
}