@use "../../variables" as *;

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 0.4rem;
  border: 0.1rem solid $borderColorGrey;
  box-shadow: 0 0.4rem 0.4rem $boxShadowGrafics;
}

.image {
  max-width: 100%;
  object-fit: cover;
  flex: 0 0 20rem;
}

.cardbody {
  flex: 1 1 auto;
  padding: 2.4rem 4rem;
  display: flex;
  flex-direction: column;
}

.up {
  padding-bottom: 2.4rem;
  display: flex;
  align-items: center;
  gap: 3.2rem;
  border-bottom: 0.1rem solid $borderColorGrey;
}

.down {
  flex: 1 1 auto;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
}

.text {
  flex: 1 1 auto;
  margin-bottom: 2rem;
  color: $colorMiddleGrey;
}

.link {
  @include subtitle(1.6rem);
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 0.8rem;
   .arrowRight {
      fill: $colorBlack;
    }
  transition: all 0.5s ease;
  &:hover {
    color: $colorBlue;
    .arrowRight {
      fill: $colorBlue;
    }
  }
}

@media (max-width: 1024px) {
  .image {
    flex: 1 1 22rem;
  }
  .cardbody {
    padding: 2rem 1rem;
  }
}

@media (max-width: 320px) {
   .image {
    flex: 1 1 20rem;
  }
  .up {
    justify-content: space-between;
  }
}