@use "../../variables" as *;

//heroservices
.servicesDecorShapesUp {
  @include heroPagesDecor(top, 0, left, 0);
}

.servicesDecorLittleLinesLeft {
  @include heroPagesDecor(bottom, 13.2rem, left, 25.6rem);
}

.servicesDecorLinesUp {
  @include heroPagesDecor(top, 0, right, 28rem);
}

.servicesDecorManyShapesDown {
  @include heroPagesDecor(bottom, 0, right, 0);
}

.servicesDecorLittleLinesRight {
  @include heroPagesDecor(top, 13.4rem, right, 9.1rem);
}

//herocasestudies
.caseDecorShapesUp {
  @include heroPagesDecor(top, -8.7rem, left, 17.6rem);
  transform: rotate(90deg);
}

.caseDecorLinesUp {
  @include heroPagesDecor(top, 0, right, 0);
  transform: rotateY(180deg);
}

.caseDecorLittleLinesRight {
  @include heroPagesDecor(bottom, 8.6rem, right, 39.4rem);
}

//heroabout
.aboutDecorManyShapesDown {
  @include heroPagesDecor(top, 0, left, -10rem);
  transform: rotate(180deg);
}

.aboutDecorLinesUp {
  @include heroPagesDecor(bottom, -10rem, left, 5rem);
  transform: rotate(180deg);
  width: 50rem;
}

.aboutDecorShapesUp {
  @include heroPagesDecor(bottom, -9rem, right, 22.7rem);
  transform: rotateX(180deg);
}

.aboutDecorLittleLinesLeft {
  @include heroPagesDecor(top, 12.6rem, right, 5rem);
  max-width: 12.4rem;
}

.aboutDecorLittleLinesRight {
  @include heroPagesDecor(top, 17.3rem, left, 33.9rem);
}

//media

@media (max-width: 1260px) {
  .servicesDecorShapesUp {
    max-width: 15rem;
  }
  .servicesDecorLinesUp {
    max-width: 30rem;
  }
  .servicesDecorManyShapesDown {
    max-width: 25rem;
  }
  .servicesDecorLittleLinesLeft {
    max-width: 10rem;
    left: 22rem;
  }
  .caseDecorShapesUp {
    left: 3rem;
    max-width: 20rem;
  }
  .caseDecorLittleLinesRight {
    right: 30rem;
  }
}

@media (max-width: 1024px) {
  .servicesDecorLittleLinesLeft {
    left: 7rem;
  }
  .aboutDecorShapesUp {
    @include heroPagesDecor(bottom, -10rem, right, 6.7rem);
  }
  .aboutDecorLinesUp {
    max-width: 40rem;
  }
  .aboutDecorLittleLinesLeft {
    max-width: 8.7rem;
  }
  .aboutDecorLittleLinesRight {
    @include heroPagesDecor(top, 12.3rem, left, 33.9rem);
  }
  .aboutDecorManyShapesDown {
    @include heroPagesDecor(top, 0, left, 0);
    max-width: 30rem;
  }
}

@media (max-width: 768px) {
  .servicesDecorLinesUp {
    right: 10rem;
    top: -5rem;
  }
  .servicesDecorLittleLinesLeft {
    left: 0;
  }
  .caseDecorLinesUp {
    right: 5rem;
    max-width: 35rem;
  }
  .caseDecorShapesUp {
    left: 2rem;
    max-width: 18rem;
  }
  .aboutDecorShapesUp {
    @include heroPagesDecor(bottom, -10rem, right, 1rem);
    max-width: 20rem;
  }
  .aboutDecorLinesUp {
    @include heroPagesDecor(bottom, -8rem, left, 0);
    max-width: 30rem;
  }
  .aboutDecorManyShapesDown {
    max-width: 25rem;
  }
}

@media (max-width: 600px) {
  .servicesDecorLittleLinesLeft {
    max-width: 8rem;
    bottom: 5rem;
    left: 1rem;
  }
  .servicesDecorLittleLinesRight {
    max-width: 8rem;
    right: 2rem;
  }
  .caseDecorLittleLinesRight {
    max-width: 8rem;
    right: 20rem;
  }
  .caseDecorShapesUp {
    max-width: 15rem;
  }
  .aboutDecorLittleLinesLeft {
    max-width: 6rem;
  }
  .aboutDecorLittleLinesRight {
    @include heroPagesDecor(top, 10.3rem, left, 25.9rem);
    max-width: 6rem;
  }
  .aboutDecorShapesUp {
    max-width: 18rem;
  }
}

@media (max-width: 480px) {
  .servicesDecorShapesUp {
    max-width: 12rem;
  }
  .servicesDecorLinesUp {
    max-width: 25rem;
    right: 5rem;
  }
  .caseDecorLinesUp {
    max-width: 20rem;
    right: 0;
  }
  .aboutDecorLittleLinesLeft {
    @include heroPagesDecor(top, 10.6rem, right, 5rem);
  }
  .aboutDecorLittleLinesRight {
    @include heroPagesDecor(top, 14.3rem, left, 25.9rem);
  }
  .aboutDecorLinesUp {
    @include heroPagesDecor(bottom, -8rem, left, -5rem);
    max-width: 28rem;
  }
}

@media (max-width: 375px) {
  .servicesDecorShapesUp {
    max-width: 10rem;
  }
  .servicesDecorLinesUp {
    max-width: 20rem;
    right: 0;
  }
  .servicesDecorLittleLinesRight,
  .servicesDecorLittleLinesLeft,
  .caseDecorLittleLinesRight {
    max-width: 6rem;
  }
  .servicesDecorLittleLinesRight {
    top: 12rem;
  }
  .servicesDecorManyShapesDown {
    max-width: 20rem;
  }
  .caseDecorShapesUp {
    max-width: 12rem;
  }
  .caseDecorLinesUp {
   top: -5rem;
   right: -5rem;
  }
  .aboutDecorLittleLinesRight {
    @include heroPagesDecor(top, 14.3rem, left, 20.9rem);
  }
  .aboutDecorLinesUp {
    max-width: 25rem;
  }
  .aboutDecorShapesUp {
    max-width: 15rem;
  }
}
