@use "../../variables" as *;

.cards {
    margin-bottom: 6rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4.8rem 3rem;
}

.btn {
    margin: 0 auto 10rem;
    padding: 0.3rem;
    width: 11.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border-radius: 0.4rem;
    transition: all 0.5s ease;
    &:hover {
        box-shadow: 0 0 1rem $colorLightGrey;
    }
}

.btnText {
    @include subtitle(1.6rem);
}

@media (max-width: 768px) {
    .cards {
        grid-template-columns: 1fr;
        gap: 3rem;
    }
}