@use "../../variables" as *;

.cards {
    margin-top: 38.8rem;
    width: 100%;
    display: flex;
    align-items: center;
}

.card {
    padding: 0 9rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    border-right: 0.1rem solid $colorLightGrey;
    &:first-child {
        padding-left: 0;
    }
    &:last-child {
        padding-right: 0;
        border-right: none
    }
}

.title {
    @include subtitle(2rem, $colorWhite);
}