@use "../../variables" as *;

.form {
  width: 100%;
}

.fields {
  max-width: 100%;
  margin-bottom: 2.4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem 2.4rem;
}

.button {
  @include button;
  margin-top: 4rem;
  width: 18.1rem;
  cursor: not-allowed;
  &:hover {
    background-color: $colorBlue;
  }
}

@media (max-width: 600px) {
  .fields {
    grid-template-columns: 1fr;
  }
}