//variables
$colorWhite: #ffffff;
$colorBlue: #7772f1;
$colorBlack: #1e212c;
$colorGrey: #424551;
$colorMiddleGrey: #787a80;
$colorLightGrey: #9a9ca5;
$bgWhiteGrey: #f4f5f6;
$bgMenuBlue: #464392;
$borderColorGrey: #e5e8ed;
$boxShadowColorSliderItem: #f8f8f9;
$borderColorBlue: #7772f166;
$boxShadowGrafics: #1e212c05;
$borderColorRadios: #d7dadd;
$cardsGradientSeparator: linear-gradient(
  to bottom,
  #dadbdd00 0%,
  #dadbdd80 20%,
  #dadbdd 60%,
  #dadbdd80 80%,
  #dadbdd20 100%
);

//mixins
@mixin title($fontsize: 4.6rem, $fontColor: $colorBlack) {
  font-size: $fontsize;
  line-height: 130%;
  font-weight: 900;
  color: $fontColor;
}

@mixin sectionTitle {
  @include title(4.6rem);
  margin-bottom: 6rem;
  text-align: center;

  @media (max-width: 1140px) {
    font-size: 4rem;
  }

  @media (max-width: 1024px) {
    font-size: 3.2rem;
  }
}

@mixin subtitle($fontsize: 2.8rem, $fontColor: $colorBlack) {
  font-size: $fontsize;
  line-height: 150%;
  font-weight: 700;
  color: $fontColor;
}

@mixin titleFooter {
  @include subtitle(1.6rem, $colorWhite);
  text-transform: uppercase;
}

@mixin burger($top, $right) {
  display: block;
  padding: 0.8rem;
  position: absolute;
  top: $top;
  right: $right;
  width: 3rem;
  height: 4rem;
  z-index: 8;
  span {
    position: absolute;
    background-color: $colorBlue;
    top: 1.9rem;
    width: 100%;
    height: 0.2rem;
    transition: all 0.3s ease 0s;
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 0.2rem;
    width: 100%;
    transition: all 0.3s ease 0s;
  }
}

@mixin button {
    height: 5.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.4rem;
  line-height: 325%;
  font-weight: 700;
  letter-spacing: 0.05rem;
  background-color: $colorBlue;
  color: $colorWhite;
  transition: all 0.5s ease;
  &:hover {
    transform: scale(1.05);
  }
}

@mixin sliderArrow {
  padding: 1.2rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s ease;
  &:not(.swiper-button-disabled):hover {
    background-color: #7772f1;
    img {
      filter: brightness(0) saturate(100%) invert(1);
    }
  }
}

@mixin heroPages {
  margin-bottom: 10rem;
  position: relative;
  min-height: 65.3rem;
  padding: 15.2rem 0 12rem;
  text-align: center;
  background-color: $colorBlack;
  background-image: url("./image/heropages/hero-decor-dots.png");
  background-position: left;
  background-repeat: no-repeat;
  overflow: hidden;

  @media (max-width: 600px) {
    padding: 15.2rem 0 10rem;
    background-position: right;
  }

  @media (max-width: 480px) {
    margin-bottom: 7rem;
  }
}

@mixin heroPagesDecor($posY, $valueY, $posX, $valueX) {
  position: absolute;
  #{$posY}: $valueY;
  #{$posX}: $valueX;
}

@mixin formFieldBlock {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  .field {
    width: 100%;
    padding: 1.3rem 1.6rem;
    background-color: $bgWhiteGrey;
    border: 0.1rem solid $borderColorRadios;
    border-radius: 0.4rem;
}
}
