@use "../../variables" as *;

.ourservicesimages {
  flex: 0 1 60%;
  max-width: 60%;
  position: relative;
  aspect-ratio: 4 / 3;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.mainimg {
  width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center;
}

.fon {
  position: absolute;
  inset: 0;
  z-index: -1;
 width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center;
}

.subscribe {
  position: absolute;
  bottom: 0;
  right: 3rem;
  img {
    width: 100%;
  }
}

.likes {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.like {
  position: absolute;
  bottom: 2rem;
  left: 22rem;
}

.followers {
  position: absolute;
  top: -2rem;
  right: 20rem;
}

@media (max-width: 1280px) {
  .mainimg {
    max-width: 70rem;
  }
  .subscribe {
    max-width: 12rem;
    right: 5rem;
  }
}

@media (max-width: 1024px) {
  .mainimg {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .followers {
    max-width: 4rem;
  }
  .likes {
    max-width: 4rem;
    left: 2rem;
  }
  .like {
    max-width: 3rem;
    left: 18rem;
    bottom: 3rem;
  }
}

@media (max-width: 480px) {
  .subscribe {
    max-width: 10rem;
    bottom: 2.5rem;
  }
  .likes {
    left: 0;
  }
  .like {
    max-width: 2rem;
    bottom: 1.5rem;
    left: 11rem;
  }
}

@media (max-width: 375px) {
  .like {
    max-width: 1.5rem;
    left: 8rem;
    bottom: 1.2rem;
  }
  .followers {
    max-width: 3rem;
    right: 5rem;
  }
  .likes {
    max-width: 3rem;
  }
  .subscribe {
    max-width: 8rem;
    bottom: 1rem;
    right: 3rem;
  }
}
