@use "../../variables" as *;

.ourservicesimages {
  position: relative;
  display: flex;
  justify-content: center;
 align-items: flex-end;
}

.fon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.subscribe {
    position: absolute;
    bottom: 6rem;
    right: 3rem;
}

.likes {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.like {
    position: absolute;
    bottom: 2rem;
    left: 22rem;
}

.followers {
    position: absolute;
    top: 0;
    right: 20rem;
}
