@use "../../variables" as *;

.clientscase {
    padding: 8rem 0;
    background-color: $bgWhiteGrey;
}

.title {
    @include sectionTitle;
    text-align: left;
}

.buttonBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.subtitle {
    @include subtitle;
}

@media (max-width: 768px) {
    .subtitle {
        @include subtitle(2rem);
    }
}

@media (max-width: 480px) {
    .clientscase {
        padding: 5rem 0;
    }
    .buttonBlock {
        flex-direction: column;
        gap: 2rem;
    }
}